<!DOCTYPE html>
{% load static %}
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %} 
    <title>Sorvena Blog</title>
    {% endblock %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/pure-min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/pricing.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/blog.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/demo.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/component.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.niftymodals.css' %}"/>

    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/jquery.niftymodals.js' %}"></script>
    <script src="{% static 'js/blog.js' %}"></script>
    <script src="{% static 'js/cbpScroller.js' %}"></script>
    <script src="{% static 'js/modernizr.js' %}"></script>
    <!--<script type="text/javascript" src="{% static 'js/nest.js' %}"></script>-->
    
</head>
<body>
<!--<a href="{% url "logout" %}" class="btn btn-primary btn-lg active" role="button" style="float:right">Logout</a>-->
<!--
<div class="pure-menu pure-menu-horizontal">
    <a href="#" class="pure-menu-heading">Your Logo</a>
    <ul class="pure-menu-list">
        <li class="pure-menu-item"><a href="{% url "home" %}" class="pure-menu-link">Home</a></li>
        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Contact</a></li>
    </ul>
    <a href="{% url "logout" %}" id="logout" target="_blank" class="pure-menu-link" style="float:right">Logout</a>
    <a href="{% url "logout" %}" id="logout" target="_blank" class="pure-menu-link" style="float:right">Login</a>
</div> 
-->
<div id="perspective" class="perspective effect-airbnb">
    <div class="container">
        <div class="wrapper" style="top: 0px;">
            
            <a href="#" id="showMenu" class="icon-menu"></a>
            <!--<button id="showMenu">显示导航菜单</button>-->
            <!--
            <div class="banner">
                
                <h1 class="banner-head">
                    大智船长的小港<br>  
                </h1>
                
                <ul class="menu_a" style="position: absolute;">
                    <a href="{% url "home" %}" id="top-link-home" class="menu-link">Home</a>
                    <a href="#" id="top-link-contact" class="menu-link">Contact</a>     
                </ul>
                
                <iframe class="baniframe" sandbox="allow-scripts allow-same-origin" id="mh" src="{% static 'js/a7.html' %}"></iframe>
                
            </div>
            --> 
            <div id="main">
                <div class="content">
                    <div>
                        {% block content %}
                        {% endblock %}
                    </div>
                </div>
            </div>

            <div class="go-top">
                <div class="arrow"></div>
                <div class="stick"></div>
            </div>

        </div>
    </div>
    <nav class="outer-nav left vertical">
        <a href="{% url 'home' %}" class="icon-home">Home</a>
        <a href="{% url 'articles' %}" class="icon-news">Articles</a>
        <a href="{% url 'showImg' %}" class="icon-image">Pictures</a>
        <a href="#" class="icon-star">Favorites</a>
        <a href="mailto:sord_hlm@sohu.com" class="icon-mail">Messages</a>
    </nav>
<script src="{% static 'js/classie.js' %}"></script>
<script src="{% static 'js/menu.js' %}"></script>

<script>
    $(function () {
        $(window).scroll(function () {
            if ($(window).scrollTop() > 1000)
                $('div.go-top').show();
            else
                $('div.go-top').hide();
        });
        $('div.go-top').click(function () {
            $('html, body').animate({scrollTop: 0}, 500);
        });
    });
</script>
</body>
</html>
