{% extends "base.html" %}
{% block content %}

<a class="img_upload md-trigger icon-upload" data-modal="modal-12">Upload</a>
<div class="md-container md-effect-12" id="modal-12">
    <div class="md-content">
        <h3>Image Uploading</h3>
        <div>
            <form method="POST" enctype="multipart/form-data" action="{% url 'uploadImg' %}">
                {% csrf_token %}
                <ul>
                    <li>Image</li><input type="file" name="img">
                    <li>Descript</li><input type="text" name="descript" style="color:black">
                </ul>
                <button type="submit" id="btn_upload">Upload</button>
            </form>
        </div>
    </div>
</div>
<div class="md-overlay"></div>
<div class="image-container">

    <div id="cbp-so-scroller" class="cbp-so-scroller">
        {% for img in imgs %}
        <section class="cbp-so-section cbp-so-init">
            <article class="cbp-so-side cbp-so-side-{% cycle 'left' 'right' %}">
                <h2>{{img.name}}</h2>
                <p>{{img.description}}</p>
            </article>
            <figure class="cbp-so-side cbp-so-side-{% cycle 'right' 'left' %}">
                <img src="{{ img.img.url }}" alt="img01">
            </figure>
        </section>
        {% endfor %}
    </div>
</div>
{% endblock %}